# EmailJS Configuration
REACT_APP_EMAILJS_PUBLIC_KEY=kcAk0wxoLwTEjz764
REACT_APP_EMAILJS_SERVICE_ID=service_jd01ur6
REACT_APP_EMAILJS_TEMPLATE_ID=template_3akb8g8
REACT_APP_RECIPIENT_EMAIL=milki2014@gmail.com
REACT_APP_RECIPIENT_NAME=Miki
